__pycache__/*
db_connection.py

article_spider/article_spider/__pycache__/*
*.pyc
.Rproj.user
.RData
.Rhistory
*.Rproj

analysis/render_networks/*
analysis/render_pictures/*
analysis/**/*.xlsx
analysis/**/*.csv
network-full-nodes_files/*
network-sample-nodes_files/*
log.txt
