#customWidget {
  font-family: "Tahoma", sans-serif;
  font-size: 14px;
  border: 2px solid #97c2fc;
  margin: 8px 0;
  padding: 8px;
  width: 960px;
}

#customWidget div {
  padding: 2px;
}

#customWidget div span {
  font-size: 15px;
  font-weight: 700;
}

#customWidget .content {
  display: flex;
}

.website-description {
  flex: 1;
}

.website-data {
  flex: 1
}
